li {
  list-style: none;
}
html {
  position: relative;
  background: #ffff;
  width: 100%;
}
.container {
  width: 1090px;
  margin: 0 auto;
  position: relative;
}

//头部
.top {
  .top1 {
    height: 36px;
    background: #333333;
    .header {
      background: #333333;
      height: 36px;
      .logo {
        float: left;
        img {
          display: block;
          float: left;
          padding: 10px 10px 0 0;
        }
        a {
          display: block;
          float: left;
          text-align: center;
          line-height: 36px;
          font-size: 12px;
          color: #cc9756;
          text-decoration: underline;
        }
      }
      .nav {
        float: right;
        line-height: 36px;
      }
      .title {
        float: left;
        line-height: 36px;
        font-size: 12px;
        cursor: pointer;
        position: relative;
        h3 {
          float: left;
          padding-right: 10px;
          padding-left: 10px;
          line-height: 36px;
          color: #cccccc;
          font-size: 12px;
          text-align: center;
          .shouji {
            float: left;
            display: block;
            background: url(../img/j3.png) no-repeat 0 0;
            width: 20px;
            height: 20px;
            margin-top: 12px;
          }
          em {
            display: block;
            float: right;
            background: url(../img/j1.png) no-repeat 0 -294px;
            margin-top: 10px;
            width: 24px;
            height: 12px;
            transform: rotate(180deg);
            margin-top: 15px;
          }
        }
        span {
          float: right;
          display: block;
          height: 16px;
          width: 1px;
          background: #5c5c5c;
          margin-top: 10px;
        }

        .list {
          position: absolute;
          background: #fff;
          top: 36px;
          left: 0;
          text-align: center;
          line-height: 36px;
          padding-right: 15px;
          padding-left: 15px;
          border: 1px solid #eeeeee;
          border-top: none;
          display: none;
          z-index: 10;
          i {
            background: url(../img/j3.png) no-repeat 0 -706px;
            display: block;
            width: 10px;
            height: 6px;
            position: absolute;
            top: -6px;
            left: 28px;
          }
          li {
            border-bottom: 1px solid #eeeeee;
          }
          .zuihou {
            border: none;
          }
        }
      }
      .title:hover .list {
        display: block;
        z-index: 10;
      }
    }
  }
  .top2 {
    height: 140px;
    .header1 {
      margin: 0 auto;
      position: relative;
      .logoa {
        position: absolute;
        top: 24px;
        left: 0;
        .logo1 {
          display: block;
          background: url("../img/j3.png") no-repeat 2px -303px;
          width: 210px;
          height: 50px;
        }
      }
      .search {
        position: relative;
        margin-top: 26px;
        float: left;
        width: 532px;
        height: 36px;
        margin-left: 356px;

        .fang {
          display: block;
          position: absolute;
          left: 18px;
          top: 12px;
          color: red;
          background: url(../img/j3.png) no-repeat 1px -516px;
          width: 14px;
          height: 14px;
          z-index: 1;
        }
        .search_input {
          display: block;
          height: 38px;
          line-height: 38px;
          padding-top: 2px;
          padding-bottom: 2px;
          border: 1px solid #cc9756;
          border-radius: 19px 0 0 19px;
          font-size: 14px;
          width: 442px;
          padding-left: 38px;
          float: left;
        }
        .sousub {
          width: 90px;
          height: 38px;
          background-color: #cc9756;
          border-radius: 0 19px 19px 0;
          cursor: pointer;
          float: right;
          line-height: 38px;
          text-align: center;
          color: #fff;
          font-size: 16px;
        }
        .hotwrap {
          margin-top: 46px;
          margin-left: 8px;
          width: 444px;
          height: 18px;
          overflow: hidden;

          .hotlist {
            top: 0;
            position: relative;
            overflow: hidden;
            .hotrow {
              height: 18px;
              line-height: 18px;
              margin-bottom: 18px;

              .hotword {
                display: inline-block;
                padding: 0 10px;
                border-right: 1px solid #ccc;
                cursor: pointer;
                line-height: 12px;
                overflow: hidden;
                font-size: 12px;
                color: #cc9756;
              }
            }
          }
        }
      }
      .cartz {
        float: right;
        position: relative;
        cursor: pointer;
        width: 134px;
        height: 38px;
        border: 1px solid #cc9756;
        border-radius: 19px;
        padding: 8px 26px;
        margin-top: 26px;
        .cart1 {
          background: url(../img/j3.png) no-repeat 0 -148px;
          display: block;
          width: 18px;
          height: 18px;
        }
        .cartname {
          color: #cc9756;
          font-size: 14px;
          position: absolute;
          top: 8px;
          left: 52px;
        }
        .cartnum {
          background: url(../img/j3.png) no-repeat 0 -51px;
          display: block;
          height: 19px;
          width: 19px;
          position: absolute;
          top: 8px;
          left: 100px;
        }
        .shuliang {
          color: #fff;
          text-align: center;
          line-height: 20px;
          margin-top: -1px;
          font-size: 14px;
        }
      }
      .tabNav {
        position: absolute;
        top: 86px;
        left: 0;
        height: 30px;
        margin-top: 30px;
        .tabnav-item {
          float: left;
          padding: 5px 23px;
          font-size: 14px;

          .na {
            color: #333;
            font-weight: bold;
            font-size: 14px;
          }
          .yinchu-nav {
            width: 1018px;
            position: absolute;
            top: 30px;
            left: 0;
            background-color: #fff;
            display: none;
            // overflow: hidden;
            border: 1px solid #cccccc;
            z-index: 9999;

            .list-group {
              padding: 0 10px;
              max-width: 140px;
              float: left;
              margin: 0 10px;

              .nav-list-name {
                line-height: 48px;
                font-weight: bold;
                font-size: 16px;
                border-bottom: 1px solid #ddd;
              }
              .list-column {
                float: left;

                .list-column-item {
                  display: inline-block;
                  margin-bottom: 10px;
                  line-height: 36px;
                  a {
                    .item-img {
                      display: block;
                      float: left;
                      height: 50px;
                      width: 50px;
                    }
                    .item-text {
                      display: inline-block;
                      color: #5c5c5c;
                      line-height: 60px;
                      padding-left: 3px;
                    }
                  }
                  a:hover .item-text {
                    color: #cc9756;
                  }
                }
              }
            }
          }
        }
        .tabnav-item:hover .yinchu-nav {
          display: block;
        }
      }

      .tabnav-item:hover .na {
        color: #cc9756;
        border-bottom: 3px solid #cc9756;
      }
    }
  }
}

//吸顶
.headerg {
  // position: fixed;
  // top: 0px;
  // left: 128px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fff;
  z-index: 999;
  border-bottom: 1px solid #ccc;
  // display: none;
  .headerc {
    // overflow: hidden;
    .logoshouye {
      display: block;
      float: left;
      .logo-tubiao {
        display: block;
        background: url("../img/j3.png") no-repeat 0 -438px;
        height: 30px;
        width: 126px;
        margin-right: 10px;
        margin-top: 14px;
      }
    }
    .tabNav {
      float: left;
      .tabnav-item {
        float: left;
        padding: 5px 15px;
        font-size: 14px;

        .na {
          color: #333;
          font-weight: bold;
          font-size: 14px;
        }
        .yinchu-nav {
          width: 1018px;
          position: absolute;
          top: 50px;
          left: 0;
          background-color: #fff;
          display: none;
          // overflow: hidden;
          border: 1px solid #cccccc;
          z-index: 999;

          .list-group {
            padding: 0 10px;
            max-width: 140px;
            float: left;
            margin: 0 10px;

            .nav-list-name {
              line-height: 48px;
              font-weight: bold;
              font-size: 16px;
              border-bottom: 1px solid #ddd;
            }
            .list-column {
              float: left;

              .list-column-item {
                display: inline-block;
                margin-bottom: 10px;
                line-height: 36px;
                a {
                  .item-img {
                    display: block;
                    float: left;
                    height: 50px;
                    width: 50px;
                  }
                  .item-text {
                    display: inline-block;
                    color: #5c5c5c;
                    line-height: 60px;
                    padding-left: 3px;
                  }
                }
                a:hover .item-text {
                  color: #cc9756;
                }
              }
            }
          }
        }
      }
      .tabnav-item:hover .yinchu-nav {
        display: block;
      }
    }
    .search {
      position: relative;
      float: left;
      margin-top: 14px;

      // .fang {
      //   display: block;
      //   position: absolute;
      //   left: 18px;
      //   top: 12px;
      //   color: red;
      //   background: url(../img/j3.png) no-repeat 1px -516px;
      //   width: 14px;
      //   height: 14px;
      //   z-index: 1;
      // }
      // .search_input {
      //   display: block;
      //   height: 38px;
      //   line-height: 38px;
      //   padding-top: 2px;
      //   padding-bottom: 2px;
      //   border: 1px solid #cc9756;
      //   border-radius: 19px 0 0 19px;
      //   font-size: 14px;
      //   width: 442px;
      //   padding-left: 38px;
      //   float: left;
      // }
      .sousub {
        background: url(../img/j3.png) no-repeat 1px -544px;
        width: 50px;
        height: 28px;
        cursor: pointer;
        margin-top: 8px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        margin-left: 14px;
      }
    }
    .user {
      position: relative;
      float: left;
      margin-top: 14px;
      a {
        .user-img {
          background: url(../img/j3.png) no-repeat 0 -786px;
          display: block;
          height: 22px;
          width: 20px;
        }
      }
    }
    //购物车部分
    .cartz {
      float: left;
      position: relative;
      cursor: pointer;
      margin-left: 30px;
      margin-top: 14px;
      .cart1 {
        background: url(../img/j3.png) no-repeat 0 -204px;
        display: block;
        width: 24px;
        height: 24px;
      }
      .cartnum {
        background: url(../img/j3.png) no-repeat 0 -51px;
        display: block;
        height: 19px;
        width: 19px;
        position: absolute;
        top: -4px;
        right: -8px;
      }
      .shuliang {
        color: #fff;
        text-align: center;
        line-height: 20px;
        margin-top: -1px;
        font-size: 14px;
      }
    }
  }
}

//左边固定栏
.fix-left {
  z-index: 9999;
  position: fixed;
  top: 62px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  .fix-left-item1 {
    background: url("//yanxuan.nosdn.127.net/7c1853dd59b79d823ad3c4f3a0330049.png?imageView&type=webp")
      bottom no-repeat;
    font-size: 16px;
    color: #bb3343;
    text-align: center;
    line-height: 38px;
    height: 38px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-weight: 700;
    cursor: default;
    padding: 0;
  }
  .fix-left-item {
    width: 108px;
    height: 36px;
    padding: 1px 11px 0;
    text-align: left;
    position: relative;
    display: table;
    cursor: pointer;

    img {
      position: absolute;
      top: 2px;
      left: 12px;
      width: 30px;
      height: 30px;
    }
    span {
      vertical-align: middle;
      display: table-cell;
      line-height: 14px;
      font-size: 12px;
      padding-left: 36px;
      color: #333;
    }
  }
  .fix-left-item:hover span {
    color: #bb3343;
    font-weight: 700;
  }

  .fix-left-item:after {
    content: "";
    display: block;
    width: 88px;
    border-bottom: 1px solid #e2ded6;
    position: absolute;
    bottom: -1px;
    left: 11px;
    z-index: 1;
  }
}

//右边固定栏
.fixedTool {
  z-index: 9999;
  display: none;
  position: fixed;
  top: 62px;
  right: 0;
  background: #fff;
  // 二维码部分

  .er-download {
    display: block;
    color: #333;
    margin-bottom: 5px;
    .err {
      height: 64px;
      margin-bottom: 8px;

      span {
        background: url(../img/err.png) no-repeat;
        display: block;
        width: 70px;
        height: 70px;
      }
    }
    .fixedtool-downText1 {
      line-height: 17px;
      color: #666;
      text-align: center;
      font-size: 12px;
    }
    .fixedtool-downText2 {
      line-height: 17px;
      color: #bc3b3b;
      text-align: center;
      font-size: 12px;
    }
    .fixedtool-downText3 {
      line-height: 17px;
      color: #bc3b3b;
      text-align: center;
      font-size: 12px;
    }
  }

  //订阅电子刊部分
  .Sub {
    border-top: 1px solid #ccc;
    background-color: #fff;
    color: #666;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    padding-top: 14px;
    position: relative;
    .Sub-wift {
      background: url(../img/j1.png) no-repeat 0 -527px;
      display: inline-block;
      width: 26px;
      height: 26px;
    }
    .Sub-text {
      line-height: 20px;
      font-size: 14px;
      margin: 8px auto 0;
      position: relative;
      padding-bottom: 6px;
      border-bottom: 1px solid #ccc;
    }

    .Sub-left {
      display: none;
      width: 400px;
      height: 220px;
      position: absolute;
      right: 62px;
      top: -68px;
      cursor: default;
      line-height: 20px;
      .left-main {
        width: 370px;
        height: 220px;
        background: #fff;
        border: 1px solid #eaeaea;
        box-shadow: 0 2px 4px 0 #7f7f7f;
        position: relative;
        .yx-header {
          background: url("//yanxuan.nosdn.127.net/86fe9b8317068538cda05d96768a6e17.png?imageView&type=webp")
            no-repeat;
          height: 70px;
          text-align: center;
          line-height: 70px;
          font-size: 26px;
          color: #fff;
          margin-top: -1px;
          margin-left: -1px;
        }
        .yxclose {
          background: url(../img/j1.png) no-repeat 0 0;
          height: 10px;
          width: 10px;
          position: absolute;
          right: 10px;
          top: 10px;
          cursor: pointer;
        }
        .yx-body {
          .yx-desc {
            font-size: 14px;
            color: #999;
            text-align: center;
            margin-top: 20px;
          }
          .yx-inputWrap {
            width: 286px;
            height: 34px;
            margin: 10px auto 0;
            position: relative;
            .yx-Input {
              width: 206px;
              height: 34px;
              padding: 5px 10px;
              font-size: 14px;
              background: #f8f8f8;
              border: 1px solid #ddd;
              border-right: none;
              float: left;
              outline: 0;
            }
            .yx-submit {
              width: 80px;
              height: 34px;
              background-color: #b4a078;
              float: left;
              font-size: 14px;
              color: #fff;
              line-height: 34px;
              cursor: pointer;
            }
          }
        }
        .yx-footer {
          margin-top: 31px;
          overflow: hidden;
          .youhui {
            width: 122px;
            float: left;
            .yx-text {
              font-size: 14px;
              color: #b4a078;
            }
            .yx-tags {
              background: url(../img/j1.png) no-repeat 0 -563px;
              display: inline-block;
              width: 14px;
              height: 14px;
            }
            .yx-crown {
              background: url(../img/j1.png) no-repeat 0 -24px;
              display: inline-block;
              width: 14px;
              height: 14px;
            }
            .yx-sack {
              background: url(../img/j1.png) no-repeat 0 -431px;
              display: inline-block;
              width: 14px;
              height: 14px;
            }
          }
        }
        .jiao {
          background: url(../img/j1.png) no-repeat 0 -402px;
          height: 19px;
          width: 11px;
          position: absolute;
          right: -11px;
          top: 96px;
        }
      }
    }
  }
  .Sub:hover .Sub-wift {
    background: url(../img/j1.png) no-repeat 0 -455px;
    display: inline-block;
    width: 26px;
    height: 26px;
  }
  .Sub:hover .Sub-text {
    color: #b4a078;
  }
  .Sub:hover .Sub-left {
    display: block;
  }

  // 在线客服部分
  .kefu {
    display: block;
    width: 72px;
    height: 82px;
    background-color: #fff;
    color: #666;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    padding-top: 14px;
    position: relative;
    border-bottom: 1px solid #ccc;
    .kefu-icon {
      background: url(../img/j1.png) no-repeat 0 -128px;
      display: inline-block;
      width: 32px;
      height: 31px;
    }
    .kefutext {
      line-height: 20px;
      font-size: 14px;
      margin: 8px auto 0;
      position: relative;
    }
  }
  .kefu:hover .kefu-icon {
    background: url(../img/j1.png) no-repeat 0 -86px;
    display: inline-block;
    width: 32px;
    height: 31px;
  }
  .kefu:hover .kefutext {
    color: #b4a078;
  }
  //回顶部
  .gotop {
    width: 72px;
    height: 60px;
    bottom: 0;
    position: relative;
    background-color: #fff;
    color: #666;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    padding-top: 14px;
    .g-top {
      background: url(../img/j1.png) no-repeat 0 -299px;
      height: 15px;
      width: 24px;
      display: inline-block;
      overflow: hidden;
      font-size: 12px;
      word-spacing: normal;
      letter-spacing: normal;
    }
    .g-text {
      line-height: 20px;
      font-size: 14px;
      margin: 8px auto 0;
      position: relative;
    }
  }
  .gotop:hover .g-top {
    background: url(../img/j1.png) no-repeat 0 -274px;
    display: inline-block;
    height: 15px;
    width: 24px;
  }
  .gotop:hover .g-text {
    color: #b4a078;
  }
}

.con {
  height: 1000px;
}
