.banner {
  margin-top: 5px;
  overflow: hidden;
}

//新品首发模块
.new1 {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  .new-title {
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    height: 48px;
    .n-left {
      float: left;
      a {
        color: #333;
        h3 {
          font-size: 28px;
          font-weight: bold;
          float: left;
          margin-right: 20px;
        }
      }
      a:hover h3 {
        color: #be9a4d;
      }
      span {
        display: block;
        float: left;
        color: #333;
        font-size: 12px;
        margin-top: 12px;
      }
    }
    .n-right {
      float: right;
      a {
        color: #333;
        font-size: 12px;
      }
    }
  }

  .jian-pre {
    display: block;
    background: #e7e2d7;
    position: absolute;
    z-index: 9;
    top: 200px;
    left: 76px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 80;
    border-radius: 500px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-right: 6px;
  }
  .jian-nex {
    display: block;
    background-color: #e7e2d7;
    position: absolute;
    z-index: 9;
    top: 200px;
    right: 70px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 80;
    border-radius: 500px;
    font-size: 40px;
    color: #fff;
    padding-left: 12px;
  }

  .lunbo {
    width: 1090px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    .new-xia {
      overflow: hidden;
      width: 20000px;
      margin-right: 10px;
      float: left;
      text-align: center;
      font-size: 13px;
      .pro-shangpin:hover .m1 {
        display: none;
      }
      .pro-shangpin:hover .m2 {
        display: block;
      }
      .pro-shangpin:hover {
        background-color: rgb(244, 240, 234);
      }

      .pro-shangpin {
        float: left;
        width: 265px;
        margin-right: 10px;
        .s-top {
          width: 265px;
          height: 265px;
          margin-bottom: 8px;
          overflow: hidden;
          position: relative;
          background-color: #f4f4f4;
          cursor: pointer;

          .shang-jie {
            background: #f38245;
            text-align: left;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 30px;

            .back-left {
              max-width: 200px;
              height: 36px;
              background: #f38245;
              margin-top: -6px;
              z-index: 1;
              padding-left: 8px;
              padding-right: 14px;
              float: left;
              border-top-right-radius: 5px;
              .b-title {
                font-size: 12px;
                height: 15px;
                line-height: 1;
                margin-top: 5px;
                span {
                  font-size: 12px;
                  color: #fff;
                  text-align: center;
                }
              }
              .jiage {
                font-size: 14px;
                height: 20px;
                line-height: 14px;
                margin-top: -1px;
                font-weight: 700;

                span {
                  color: #fff;
                  font-size: 14px;
                }
              }
            }
            .back-right {
              float: right;
              width: 162px;
              color: #fff;
              text-align: left;
              overflow: hidden;
              height: 30px;
              line-height: 30px;
              font-size: 12px;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin-left: 4px;
              padding-left: 4px;
            }
          }
        }

        .s-bottom {
          .b-tags {
            margin-left: 6px;
            height: 20px;
            line-height: 20px;
            color: #fff !important;
            padding: 0 5px;
            background-color: #e36844;
            font-size: 12px;
            text-align: center;
            margin: 0 96px 3px 96px;
            h4 {
              padding: 0 52px;
              color: #333333;
              line-height: 20px;
              font-size: 12px;
              font-weight: bold;
              cursor: pointer;
            }
          }
          h4 {
            width: 166px;
            margin: 0 auto 4px;
            max-height: 40px;
            line-height: 20px;
            overflow: hidden;
            text-align: center;
            cursor: pointer;
          }
          h4:hover {
            color: rgb(185, 166, 128);
          }
          .now-price {
            line-height: 13px;
            height: 13px;
            font-size: 13px;
            color: #d4282d;
          }
          .yuan-price {
            font-size: 12px;
            color: #999;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}

//人气推荐模块
.popular {
  padding: 60px 0;
  background: #f4f0ea;
  .popular-title {
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-bottom: 20px;

    .p-left {
      float: left;
      a {
        text-decoration: none;
        display: block;
        float: left;
        h3 {
          font-size: 28px;
          font-weight: bold;
          float: left;
          margin-right: 20px;
          color: #333;
        }
      }
      a:hover h3 {
        color: #be9a4d;
      }
      .left2 {
        overflow: hidden;
        position: relative;

        .p-list {
          position: relative;
          .item {
            text-align: center;
            float: left;
            font-size: 14px;
            width: 70px;
            height: 28px;
            line-height: 28px;
            margin-top: 5px;
            margin-right: 55px;
            a {
              color: #333;
              cursor: pointer;
              display: block;
              width: 70px;
              height: 28px;
            }
          }
          .item:hover a {
            color: #f38245;
            border-bottom: 2px solid #f38245;
          }
        }
      }
    }
    .p-right {
      float: right;
      a {
        color: #333;
      }
    }
    .p-right:hover a {
      color: #f38245;
    }
  }

  .p-con {
    overflow: hidden;
    .p-con-left {
      width: 390px;
      height: 580px;
      margin-left: 0;
      margin-top: 20px;
      background-color: #fff;
      overflow: hidden;
      float: left;
      .p-con-leftt {
        margin-bottom: 18px;
        border-bottom: 1px solid #f4f0ea;
        a {
          img {
            width: 320px;
            height: 320px;
            margin: 40px 35px;
          }
        }
      }
      .s-bottom {
        .b-tags {
          height: 20px;
          color: #fff;
          margin: 0 auto 3px;
          overflow: hidden;
          text-align: center;
          span {
            margin-left: 6px;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            padding: 0 5px;
            background-color: #e36844;
          }
        }
        h4 {
          line-height: 26px;
          max-height: 52px;
          margin: 0 auto 13px;
          font-size: 18px;
          width: 248px;
          text-align: center;
          cursor: pointer;
          span {
            font-weight: bold;
            font-size: 18px;
          }
        }
        h4:hover span {
          color: #f38245;
        }

        p {
          font-size: 16px;
          line-height: 13px;
          color: #d4282d;
          padding: 1px 9px;
          position: relative;
          .now-price {
            margin-left: 142px;
          }
          .yuan-price {
            margin-left: 6px;
            color: #ccc;
            text-decoration: line-through;
          }
        }
      }
    }

    .p-con-right {
      background-color: #fff;
      overflow: hidden;
      width: 223px;
      height: 280px;
      float: left;
      margin-left: 10px;
      text-align: center;
      margin-top: 20px;

      .p-con-leftt {
        margin-bottom: 18px;
        border-bottom: 1px solid #f4f0ea;
        a {
          img {
            width: 180px;
            height: 180px;
          }
        }
      }
      .s-bottom {
        h4 {
          width: 136px;
          margin: 0 auto 4px;
          line-height: 16px;
          max-height: 52px;
          margin-bottom: 5px;
          text-align: center;
          cursor: pointer;
          span {
            font-weight: bold;
            font-size: 14px;
          }
        }
        h4:hover span {
          color: #f38245;
        }

        p {
          font-size: 16px;
          line-height: 13px;
          color: #d4282d;
          padding: 1px 9px;
          position: relative;
        }
      }
    }

    .pro-shangpin {
      background-color: #fff;
      overflow: hidden;
      width: 223px;
      height: 280px;
      float: left;
      margin-left: 10px;
      text-align: center;
      margin-top: 20px;
      float: left;
      position: relative;
      .s-top {
        border-bottom: 1px solid #f4f0ea;
        a {
          display: block;
          width: 100%;
          height: 100%;
          img {
            width: 180px;
            height: 180px;
          }
        }
        .shang-jie {
          background: #f38245;
          text-align: left;
          position: absolute;
          bottom: 98px;
          left: 0;
          width: 100%;
          height: 30px;
          padding-right: 10px;
          .back-left {
            max-width: 200px;
            height: 36px;
            background: #f38245;
            margin-top: -6px;
            z-index: 1;
            padding-left: 8px;
            padding-right: 14px;
            float: left;
            border-top-right-radius: 5px;
            .b-title {
              font-size: 12px;
              height: 15px;
              line-height: 1;
              margin-top: 5px;
              margin-left: 0;
              padding-top: 0;
              span {
                font-size: 12px;
                color: #fff;
                text-align: center;
              }
            }
            .jiage {
              font-size: 14px;
              height: 20px;
              line-height: 14px;
              margin-top: -1px;
              font-weight: 700;
              span {
                color: #fff;
                font-size: 14px;
              }
            }
          }
          .back-right {
            color: #fff;
            text-align: left;
            overflow: hidden;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: 4px;
            padding-left: 4px;
          }
        }
      }

      .s-bottom {
        .b-tags {
          height: 20px;
          color: #fff;
          margin: 0 auto 3px;
          overflow: hidden;
          text-align: center;
          span {
            margin-left: 6px;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            padding: 0 5px;
            background-color: #e36844;
          }
        }
        h4 {
          width: 166px;
          margin: 0 auto 4px;
          max-height: 40px;
          line-height: 20px;
          overflow: hidden;
          text-align: center;
          span {
            font-weight: bold;
            font-size: 14px;
          }
        }
        p {
          font-size: 13px;
          line-height: 13px;
          color: #d4282d;
          padding: 1px 9px;
          position: relative;
          margin: 0 auto;
          .now-price {
            // margin-left: 76px;
          }
          .yuan-price {
            // margin-left: 6px;
            color: #ccc;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}

//限时购
.xianshi {
  margin-bottom: 50px;
  .xianshi-con {
    .xianshi-row {
      padding-top: 58px;
      width: 1090px;
      margin: 0 auto;
      position: relative;
    }
    //上面内容部分
    .hd {
      height: 30px;
      line-height: 30px;
      color: #333;
      margin-bottom: 18px;
      .h3 {
        float: left;
        color: #333;
        h3 {
          font-size: 28px;
          font-weight: bold;
        }
      }
      a {
        color: #333;
        float: right;
      }
    }

    //下面图片部分
    .xianshi-tupian {
      height: 429px;
      width: 100%;
      overflow: hidden;
      .daojishi {
        background: url("//yanxuan.nosdn.127.net/a0d0bd891ebb55308dbddda736ed53cc.png?imageView&type=webp")
          center center no-repeat #fff;
        position: relative;
        height: 429px;
        width: 224px;
        padding-top: 60px;
        float: left;
        text-align: center;
        .changci {
          height: 36px;
          font-size: 28px;
          line-height: 36px;
          margin-bottom: 11px;
          color: #615548;
        }
        .line {
          width: 20px;
          height: 2px;
          margin: 0 auto 18px;
          background: #61594b;
        }
        .endtimes {
          margin-bottom: 18px;
          font-size: 18px;
          color: #615548;
          line-height: 22px;
          height: 22px;
        }
        .time-count {
          height: 40px;
          margin-bottom: 50px;
          text-align: center;
          .w-cd {
            width: 40px;
            color: #fff;
            font-size: 18px;
            line-height: 40px;
            background-color: #615548;
          }
        }
        .CK-Btn {
          display: block;
          width: 110px;
          height: 30px;
          margin: 0 auto;
          line-height: 30px;
          color: #fff;
          font-size: 14px;
          background-color: #a7936e;
          cursor: pointer;
          border-radius: 15px;
        }
        .link {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #fff;
          opacity: 0;
        }
      }

      .xianshi-right {
        margin-left: 224px;
        height: 429px;
        .QG-le {
          float: left;
          width: 433px;
          height: 214px;
          border: 1px solid #f0ece4;
          border-left: none;
          .le {
            float: left;
            width: 180px;
            height: 180px;
            cursor: pointer;
            overflow: hidden;
            margin: 3px 0;
            a {
              position: relative;
              display: block;
              div {
                width: 100%;
                height: 100%;
                img {
                  width: 180px;
                  height: 180px;
                  border: 1px solid transparent;
                }
              }
            }
          }
          .ri {
            margin-left: 180px;
            height: 187px;
            padding-top: 14px;
            h2 {
              overflow: hidden;
              max-height: 52px;
              line-height: 26px;
              font-size: 16px;
              color: #666;
              a {
                color: #333;
              }
            }
            h2:hover a {
              color: #f38245;
            }
            p {
              height: 24px;
              font-size: 14px;
              line-height: 24px;
              color: #999;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            .itemnum {
              padding: 14px 0 8px;
              height: 36px;
              .itemBar {
                float: left;
                position: relative;
                width: 152px;
                height: 10px;
                margin: 2px 0;
                border: 1px solid #f2cecd;
                border-radius: 5px;
                overflow: hidden;
                .itemBarin {
                  width: 132px;
                  background-color: #ffe5e5;
                  height: 10px;
                }
              }
              .itemTips {
                height: 14px;
                margin-left: 162px;
                font-size: 14px;
                color: #999;
                line-height: 14px;
                span {
                  font-size: 14px;
                  color: #999;
                  line-height: 14px;
                }
              }
            }
            .itemPrice {
              font-size: 14px;
              .aprice {
                color: #be4141;
                .yuan {
                  font-size: 18px;
                  margin-left: 4px;
                }
                .apriceIn {
                  margin-right: 12px;
                  font-weight: bold;
                  font-size: 24px;
                }
              }
              .oprice {
                color: #999;
                .data {
                  font-size: 14px;
                  text-decoration: line-through;
                }
              }
            }
            .QGG {
              display: block;
              width: 118px;
              height: 31px;
              margin-top: 18px;
              line-height: 31px;
              text-align: center;
              font-size: 16px;
              background-color: #be4141;
              color: #fff;
            }
            .QGG:hover .QGG {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

//居家生活
.jujia {
  margin-top: 60px;
  overflow: hidden;
  margin-bottom: 50px;
  .jujia-row {
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    .jj-index {
      overflow: hidden;
      .jj-header {
        padding-bottom: 20px;
        overflow: hidden;
        .hd-le {
          a {
            color: #333;
            h3 {
              font-size: 28px;
              font-weight: bold;
              float: left;
              margin-right: 20px;
            }
          }
        }
        .hd-ri {
          float: right;
          .ri-list {
            display: inline-block;
            font-size: 14px;
            padding-top: 14px;
            span {
              b {
                margin: 0 10px;
              }
              a {
                color: #333;
              }
            }
          }
          a {
            display: inline-block;
            line-height: 1;
            margin-left: 30px;
            color: #333;
            cursor: pointer;
            font-size: 14px;
          }
        }
      }

      .item-list {
        width: 2000px;
        position: relative;
        top: 0;
        left: 0;
        display: block;
        .pro-shangpin {
          margin-right: 10px;
          float: left;
          height: 100%;
          min-height: 1px;

          .s-top {
            position: relative;
            margin-bottom: 8px;
            overflow: hidden;
            a {
              img {
                width: 265px;
                height: 265px;
                display: block;
              }
            }
            .shang-jie {
              background: #f38245;
              text-align: left;
              position: absolute;
              bottom: 0;
              left: 0;
              height: 30px;

              .back-left {
                max-width: 200px;
                height: 36px;
                background: #f38245;
                margin-top: -6px;
                z-index: 1;
                padding-left: 8px;
                padding-right: 14px;
                float: left;
                border-top-right-radius: 5px;
                .b-title {
                  font-size: 12px;
                  height: 15px;
                  line-height: 1;
                  margin-top: 5px;
                  span {
                    font-size: 12px;
                    color: #fff;
                    text-align: center;
                  }
                }
                .jiage {
                  font-size: 14px;
                  height: 20px;
                  line-height: 14px;
                  margin-top: -1px;
                  font-weight: 700;

                  span {
                    color: #fff;
                    font-size: 14px;
                  }
                }
              }
              .back-right {
                float: right;
                width: 162px;
                color: #fff;
                text-align: left;
                overflow: hidden;
                height: 30px;
                line-height: 30px;
                font-size: 12px;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-left: 4px;
                padding-left: 4px;
              }
            }
          }

          .s-bottom {
            width: 265px;
            .b-tags {
              height: 20px;
              color: #fff;
              margin: 0 auto 3px;
              overflow: hidden;
              text-align: center;
              span {
                margin-left: 6px;
                display: inline-block;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                padding: 0 5px;
                background-color: #e36844;
              }
            }
            h4 {
              width: 166px;
              margin: 0 auto 4px;
              max-height: 40px;
              line-height: 20px;
              overflow: hidden;
              text-align: center;
              cursor: pointer;
              span {
                font-weight: bold;
                font-size: 14px;
              }
            }
            h4:hover span {
              color: #f38245;
            }
            p {
              font-size: 13px;
              line-height: 13px;
              color: #d4282d;
              padding: 1px 9px;
              position: relative;
              .now-price {
                // position: absolute;
                // left: 76px;
                // top: 0px;
                margin-left: 76px;
              }
              .yuan-price {
                margin-left: 6px;
                color: #ccc;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
  }
}

//图片效果
.move .img-W {
  transition: all 2s;
}
.move:hover .img-W {
  opacity: 0.5;
  transform: scale(1.2);
}

//轮播图
.swiper-container {
  --swiper-theme-color: #ff6600;
  --swiper-pagination-color: #00ff33; /* 两种都可以 */
  --swiper-navigation-color: #ff6600; /* 单独设置按钮颜色 */
  --swiper-navigation-size: 30px; /* 设置按钮大小 */
}
